@model GestaoGrupoMusicalWeb.Models.GerenciarInstrumentoEventoViewModel

@{
    ViewData["Title"] = "Gerenciar Instrumento do Evento Musical";
}

<hr />

    <h4>Adicionar Instrumento ao Planejamento</h4>

    <form asp-action="CreateInstrumento" asp-controller="Evento">

        <input type="hidden" asp-for="Id" />

        <div class="row col-md-12">
            <div class="form-group col-md-4">
                <label asp-for="IdTipoInstrumento" class="control-label">Instrumento</label>
                <select asp-for="IdTipoInstrumento" asp-items="Model.ListaInstrumentos" class="form-select"></select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 align-self-end">
                <input class="btn btn-secondary w-100" type="submit" value="Adicionar" />
            </div>
        </div>
    </form>

    <hr />

    <h4>Instrumentos Planejados</h4>
    <div class="table-responsive">
        <table class="table mt-3">
            <thead>
                <tr class="bg-danger bg-opacity-75 text-white">
                    <th>Instrumentos</th>
                    <th>Planejados</th>
                    <th>Solicitados</th>
                    <th>Confirmados</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.InstrumentosPlanejados != null && Model.InstrumentosPlanejados.Any())
                {
                    // O loop usa a propriedade InstrumentosPlanejados do ViewModel
                    @foreach (var item in Model.InstrumentosPlanejados)
                    {
                        <tr class="border-bottom border-danger border-opacity-75 align-middle">
                            <td>@item.ListaInstrumentos</td>
                            <td>@item.Planejados</td>
                            <td>@item.Solicitados</td>
                            <td>@item.Confirmados</td>
                            <td>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center">Nenhum instrumento planejado para este evento ainda.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="mt-4">
        <a asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
    </div>