@model IEnumerable<Core.DTO.GerenciarInstrumentoEventoDTO>

<div class="table-responsive">
    <table class="table mt-3">
        <thead>
            <tr class="bg-danger bg-opacity-75 text-white">
                <th>
                    @Html.DisplayNameFor(model => model.Instrumento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Local)
                </th>
                <th>
                    Solicitados
                </th>
                <th>
                    Confirmados
                </th>              
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
          
                <tr class="border-bottom border-danger border-opacity-75 align-middle">
                    <td>
                        Tambor
                    </td>
                    <td>
                        10
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>                   
                    <td class="py-3 border-0 d-flex flex-column flex-lg-row gap-3">
                       
                            <a role="button" class="btn btn-sm btn-secondary"
                               data-bs-toggle="modal" data-bs-target="#notificarMovimentacaoModal"
                               onclick="showModal(' +"_notificar")', 'notificarMovimentacaoModal')">
                                <i class="fa-solid fa-envelope"></i>
                                Notificar
                            </a>                                                
                            <a role="button" class="btn btn-sm btn-secondary"
                               data-bs-toggle="modal" data-bs-target="#excluirMovimentacaoModal"
                               onclick="showModal('+ "_delete")', 'excluirMovimentacaoModal')">
                                <i class="fa-solid fa-xmark"> </i>
                                Excluir
                            </a>
                        
                    </td>
                </tr>
            
        </tbody>
    </table>
  
        <p class="text-center mt-4 mb-0">Desculpe, nenhuma movimentação encontrada :(</p>
    
</div>

<div class="modal fade" id="excluirMovimentacaoModal" tabindex="-1" aria-labelledby="excluirMovimentacaoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="excluirMovimentacaoLabel">Excluir Movimentação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja <b>Excluir</b> essa <b>Movimentação</b>?
            </div>
            <form method="post" class="modal-footer">
                <button type="button" class="btn btn-outline-secondary col-3 me-4" data-bs-dismiss="modal">Não</button>
                <button type="submit" class="btn btn-secondary col-3">Sim</button>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="notificarMovimentacaoModal" tabindex="-1" aria-labelledby="notificarMovimentacaoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificarMovimentacaoLabel">Notificar Movimentação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja <b>Notificar</b> o <b>Associado</b> da necessidade de <b>Confirmação</b>?
            </div>
            <form method="post" class="modal-footer">
                <button type="button" class="btn btn-outline-secondary col-3 me-4" data-bs-dismiss="modal">Não</button>
                <button type="submit" class="btn btn-secondary col-3">Sim</button>
            </form>
        </div>
    </div>
</div>