@model GestaoGrupoMusicalWeb.Models.EventoViewModel

@{
    ViewData["Title"] = $"Editar Evento {Model.Local}";
}

<h1>@ViewData["Title"]</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdGrupoMusical" class="control-label">Grupo Musical</label>
                <select asp-for="IdGrupoMusical" asp-items="@Model.ListaGrupoMusical" class="form-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="IdGrupoMusical" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraInicio" class="control-label">Data Hora Inicio</label>
                <input asp-for="DataHoraInicio" class="form-control" />
                <span asp-validation-for="DataHoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraFim" class="control-label">Data Hora Fim</label>
                <input asp-for="DataHoraFim" class="form-control" />
                <span asp-validation-for="DataHoraFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local" class="control-label">Local</label>
                <input asp-for="Local" class="form-control" />
                <span asp-validation-for="Local" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repertorio" class="control-label">Repertorio</label>
                <input asp-for="Repertorio" class="form-control" />
                <span asp-validation-for="Repertorio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdColaboradorResponsavel" class="control-label">ColaboradorResponsavel</label>
                <select asp-for="IdColaboradorResponsavel" asp-items="@Model.ListaPessoa" class="form-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="IdColaboradorResponsavel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdRegente" class="control-label">Regente</label>
                <select asp-for="IdRegente" asp-items="@Model.ListaPessoa" class="form-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="IdRegente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
