@model GestaoGrupoMusicalWeb.Models.GerenciarInstrumentoEventoViewModel
@{
    ViewData["Title"] = "Gerenciar Instrumento Evento";
    ViewData["Evento"] = "Eventos";
    ViewData["GerenciarInstrumentoEvento"] = "Gerenciar Instrumento";
}

<partial name="_Notificar">
    <div class="row">
        <div class="col-md-8">
            <h1 class="p-3 bg-danger  bg-opacity-75 text-white fs-5">Gerenciar Instrumento do Evento Musical</h1>
            <nav>
                <ol class="breadcrumb px-3">
                    <strong>
                        <a class="text-danger text-opacity-75" asp-action="Index">@ViewData["Evento"]</a>
                        <spn class="text-secondary"><i class="text-dark fa-sharp fa-solid fa-angle-right fa-xs"></i> @ViewData["GerenciarInstrumentoEvento"]</spn>
                    </strong>
                </ol>
            </nav>
            <hr />
            <br />
        </div>
    </div>
            <partial name="_GerenciarInstrumentoEvento" model="Model.GerenciarInstrumentos">
             <br />
            <partial name="_PlanejarInstrumentoEvento" model="Model.InstrumentoEventoPlanejado">

            <br />
            <br />
                <partial name="_TabelaGerenciarInstrumento" model="Model.GerenciarInstrumentos">          
            <div class="row">
                <div class="d-flex justify-content-lg-end flex-column-reverse flex-lg-row">
                    <a class="btn btn-outline-secondary col-lg-2 mt-3 me-lg-3 btn-" asp-controller="Evento" asp-action="Index">Voltar</a>                        
                </div>
            </div>

    @section Header {
        @{
            await Html.RenderPartialAsync("_AutoCompleteCssPartial");
        }
    }
