@model GestaoGrupoMusicalWeb.Models.InformativoViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>InformativoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdGrupoMusical" class="control-label"></label>
                <input asp-for="IdGrupoMusical" class="form-control" />
                <span asp-validation-for="IdGrupoMusical" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPessoa" class="control-label"></label>
                <input asp-for="IdPessoa" class="form-control" />
                <span asp-validation-for="IdPessoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mensagem" class="control-label"></label>
                <input asp-for="Mensagem" class="form-control" />
                <span asp-validation-for="Mensagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntregarAssociadosAtivos" class="control-label"></label>
                <input asp-for="EntregarAssociadosAtivos" class="form-control" />
                <span asp-validation-for="EntregarAssociadosAtivos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
