@model IEnumerable<GestaoGrupoMusicalWeb.Models.InformativoViewModel>

<link href="~/lib/datatable/css/datatables.min.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Informativos";
}

<div class="d-flex justify-content-between align-items-center">
    <h5>@ViewData["Title"]</h5>
    <a role="button" class="btn btn-secondary m-3" asp-controller="Informativo" asp-action="Create">Novo Informativo</a>
</div>
<table id="tableInformativo" class="table table-striped table-bordered dt-responsive nowrap">
    <thead>
        <tr class="bg-danger bg-opacity-75 text-white">
            <th class="px-3">@Html.DisplayNameFor(model => model.Data)</th>
            <th class="px-3">@Html.DisplayNameFor(model => model.Mensagem)</th>
            <th class="px-3"><span>Ações</span></th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/datatable/js/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tableInformativo').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 5,
                "lengthMenu": [
                    [5, 10, 20, -1],
                    [5, 10, 20, "Todos"]
                ],
                "ajax": {
                    "url": "/Informativo/GetDataPage",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "data",
                        "autoWidth": true,
                        "render": function (data, type, full, meta) {
                            var date = new Date(data);
                            var day = String(date.getDate()).padStart(2, '0');
                            var month = String(date.getMonth() + 1).padStart(2, '0');
                            var year = date.getFullYear();
                            var hours = String(date.getHours()).padStart(2, '0');
                            var minutes = String(date.getMinutes()).padStart(2, '0');
                            var seconds = String(date.getSeconds()).padStart(2, '0');
                            return day + '/' + month + '/' + year + ' ' + hours + ':' + minutes + ':' + seconds;
                        }
                    },
                    {
                        "data": "mensagem",
                        "autoWidth": true,
                        "render": function (data, type, full, meta) {
                            if (data && data.length > 30) {
                                return data.substr(0, 30) + '...';
                            } else {
                                return data;
                            }
                        }
                    },
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-secondary btn-sm m-2" href="/Informativo/Edit/' + full.id + '"><i class="fa-solid fa-pen-to-square"></i> Editar</a> ' +
                                '<a onclick="showConfirmationModal(' + full.id + ')" class="btn btn-sm btn-secondary" role="button"><i class="fa-solid fa-xmark"></i> Excluir</a>' +
                                '<a class="btn btn-secondary btn-sm m-2" href="#" onclick="confirmarNotificacao(' + full.id + ')"><i class="fa-solid fa-envelope"></i> Notificar</a>';
                        }
                    }
                ],
                "language": {
                    "url": "~/lib/datatable/js/pt-br.json"
                }
            });
        });

        function showConfirmationModal(formId) {
            var modal = document.getElementById('informativoModal');
            var modalForm = modal.querySelector('form');
            modalForm.action = '/Informativo/Delete/' + formId;
            var modalBody = modal.querySelector('.modal-body');
            modalBody.innerHTML = 'Deseja <b>Excluir</b> o <b>Informativo</b>?';

            var bootstrapModal = new bootstrap.Modal(modal);
            bootstrapModal.show();
        }

        function confirmarNotificacao(id) {
            var resposta = confirm("Deseja realmente notificar?");
            if (resposta) {
                $.ajax({
                    url: '/Informativo/NotificarInformativoViaEmail/' + id,
                    type: 'GET',
                    success: function (response) {
                        alert('Notificação enviada com sucesso!');
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            } else {
                console.log("Notificação cancelada pelo usuário.");
            }
        }
    </script>
}

<div class="modal fade" id="informativoModal" tabindex="-1" aria-labelledby="informativoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="informativoLabel">Confirmar Exclusão do Informativo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja <b>Excluir</b> o <b>Informativo</b>?
            </div>
            <form method="post" class="modal-footer">
                <button type="button" class="btn btn-outline-secondary col-3 me-4" data-bs-dismiss="modal">Não</button>
                <button type="submit" class="btn btn-secondary col-3">Sim</button>
            </form>
        </div>
    </div>
</div>
