<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestaoGrupoMusicalWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/simple-sidebar/dist/css/styles.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.4.0-web/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/headerLayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GestaoGrupoMusicalWeb.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/assets/logo_batalase_SF.png" />
    @if (IsSectionDefined("Header"))
    {
        @await RenderSectionAsync("Header", required: false)
    }
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end-0 bg-white border-danger" id="sidebar-wrapper">

            <div class="sidebar-heading border-bottom bg-dark tamDivHeader border-bottom border-danger border-opacity-75">
                <a class="text-decoration-none" asp-controller="Home" asp-action="Index">
                    <img class="posLogo" src="https://i.imgur.com/xRzPBmL.png" alt="Logo Batalá" width="56.57px" height="57px">
                </a>
                <span class="text-light posDivLogo">Batalá Sergipe</span>
            </div>

            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action p-3 border-bottom border-danger border-opacity-75" asp-controller="Home" asp-action="Index"> Início</a>
                <a class="list-group-item list-group-item-action p-3 border-bottom border-danger border-opacity-75" asp-controller="GrupoMusical" asp-action="Index">Grupo Musical</a>
                <a class="list-group-item list-group-item-action p-3 border-bottom border-danger border-opacity-75" href="#!">Sistema</a>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand navbar-light bg-dark border-bottom tamDivHeader border-bottom border-danger border-opacity-75">
                <div class="container-fluid">
                    <button class="btn btn-dark fs-5" id="sidebarToggle">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle fs-5 text-light d-flex align-items-center" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="card-body">
                                        <h5 class="card-title">Sistema</h5>
                                        <h6 class="card-subtitle mb-2 text-muted text-capitalize">Administrador Sistema</h6>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="Identity" asp-action="PerfilSistema">
                                        <i class="fa-solid fa-address-card"></i>
                                        Meus Dados
                                    </a>
                                    @*<a class="dropdown-item" href="#!">
                                        <i class="fa-solid fa-gear"></i>
                                        Configurações
                                    </a>
                                    <div class="dropdown-divider"></div>*@
                                    <form asp-controller="Identity" asp-action="Sair">
                                        <button class="dropdown-item">
                                            <i class="fa-solid fa-right-from-bracket"></i>
                                            Sair
                                        </button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid px-4 py-3">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="border-top text-muted p-2 text-center">
        <div class="container">
            &copy; @DateTime.Now.Year - v1.0
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-mask/jquery.inputmask.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/simple-sidebar/dist/js/scripts.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Mascara.js"></script>
    <script src="~/js/BuscaCep.js"></script>
    <script src="~/js/modal.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
