@model GestaoGrupoMusicalWeb.Models.PessoaViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Associado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" id="campoCpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <input asp-for="Sexo" class="form-control" />
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cep" class="control-label"></label>
                <input asp-for="Cep" id="campoCep" class="form-control" />
                <span asp-validation-for="Cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rua" class="control-label"></label>
                <input asp-for="Rua" class="form-control" />
                <span asp-validation-for="Rua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone1" class="control-label"></label>
                <input asp-for="Telefone1" id="campoTelefone1" class="form-control" />
                <span asp-validation-for="Telefone1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone2" class="control-label"></label>
                <input asp-for="Telefone2" id="campoTelefone2" class="form-control" />
                <span asp-validation-for="Telefone2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEntrada" class="control-label"></label>
                <input asp-for="DataEntrada" class="form-control" />
                <span asp-validation-for="DataEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataSaida" class="control-label"></label>
                <input asp-for="DataSaida" class="form-control" />
                <span asp-validation-for="DataSaida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotivoSaida" class="control-label"></label>
                <input asp-for="MotivoSaida" class="form-control" />
                <span asp-validation-for="MotivoSaida" class="text-danger"></span>
            </div>
            <div>
                <label class="control-label" asp-for="Ativo"></label>
                <select asp-for="Ativo" class="form-select">
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>
                <span asp-validation-for="Ativo" class="text-danger"></span>
            </div>

            <div>
                <label class="control-label" asp-for="IsentoPagamento"></label>
                <select asp-for="IsentoPagamento" class="form-select">
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>
                <span asp-validation-for="IsentoPagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdGrupoMusical" class="control-label"></label>
                <select asp-items="@Model.ListaGrupoMusical" asp-for="IdGrupoMusical" class="form-control"></select>
                <span asp-validation-for="IdGrupoMusical" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPapelGrupo" class="control-label"></label>
                <select asp-items="@Model.ListaPapelGrupo" asp-for="IdPapelGrupo" class="form-control"></select>
                <span asp-validation-for="IdPapelGrupo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdManequim" class="control-label"></label>
                <select asp-items="@Model.ListaManequim" asp-for="IdManequim" class="form-control"></select>
                <span asp-validation-for="IdManequim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#campoCpf").inputmask("999.999.999-99");  //static mask
            $("#campoCep").inputmask("99999-999");
            $("#campoTelefone1").inputmask("(99)99999-9999");
            $("#campoTelefone2").inputmask("(99)99999-9999");

        });

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
      
}
