@model GestaoGrupoMusicalWeb.Models.PessoaViewModel

@{
    ViewData["Title"] = "Editar associado";
    ViewData["Pessoa"] = "Associado";
    ViewData["Edit"] = "Editar";
}
<partial name="_Notificar">
    <div class="row">
        <div class="col-md-8">
            <h1 class="p-3 bg-danger  bg-opacity-75 text-white fs-5">Editar dados do Associado</h1>
            <nav>
                <ol class="breadcrumb px-3">
                    <strong>
                        <a class="text-danger text-opacity-75" asp-action="Index">@ViewData["Pessoa"]</a>
                        <spn class="text-secondary"><i class="text-dark fa-sharp fa-solid fa-angle-right fa-xs"></i> @ViewData["Edit"]</spn>
                    </strong>
                </ol>
            </nav>
            <hr />
            <br />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="container">
                    <div class="row">
                        <h2 class="fs-5">Dados pessoais</h2>
                        <hr />
                        <br />
                        <div class="form-group">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="form-group col-auto">
                            <label asp-for="Cpf" class="control-label">CPF</label>
                            <input asp-for="Cpf" id="campoCpf" class="form-control" />
                            <span asp-validation-for="Cpf" class="text-danger"></span>
                        </div>
                        <div class="form-group col-auto">
                            <label asp-for="DataNascimento" class="control-label"></label>
                            <input asp-for="DataNascimento" class="form-control" />
                            <span asp-validation-for="DataNascimento" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm">
                            <label asp-for="Sexo" class="control-label"></label>
                            <div class="d-flex justify-content-around">
                                @{
                                    if (Model.Sexo == "F")
                                    {
                                        <div>
                                            <label asp-for="Sexo">Masculino</label>
                                            <input class="form-check-input" type="radio" value="M" asp-for="Sexo" />
                                        </div>
                                        <div>
                                            <label asp-for="Sexo">Feminino</label>
                                            <input class="form-check-input" type="radio" value="F" asp-for="Sexo" checked />
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <label asp-for="Sexo">Masculino</label>
                                            <input class="form-check-input" type="radio" value="M" asp-for="Sexo" checked />
                                        </div>
                                        <div>
                                            <label asp-for="Sexo">Feminino</label>
                                            <input class="form-check-input" type="radio" value="F" asp-for="Sexo" />
                                        </div>
                                    }

                                }
                            </div>
                            <span asp-validation-for="Sexo" class="text-danger"></span>
                        </div>

                    </div>

                </div>

                <div class="container">
                    <div class="row">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label">E-mail</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="Telefone1" class="control-label"></label>
                            <input asp-for="Telefone1" id="campoTelefone1" class="form-control" />
                            <span asp-validation-for="Telefone1" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="Telefone2" class="control-label"></label>
                            <input asp-for="Telefone2" id="campoTelefone2" class="form-control" />
                            <span asp-validation-for="Telefone2" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="DataEntrada" class="control-label"></label>
                            <input asp-for="DataEntrada" class="form-control" />
                            <span asp-validation-for="DataEntrada" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="form-group col-sm">
                            <label class="control-label" asp-for="Ativo"></label>
                            <select asp-for="Ativo" class="form-select">
                                <option value="1">Sim</option>
                                <option value="0">Não</option>
                            </select>
                            <span asp-validation-for="Ativo" class="text-danger"></span>
                        </div>

                        <div class="form-group col-sm">
                            <label class="control-label" asp-for="IsentoPagamento"></label>
                            <select asp-for="IsentoPagamento" class="form-select">
                                <option value="1">Sim</option>
                                <option value="0">Não</option>
                            </select>
                            <span asp-validation-for="IsentoPagamento" class="text-danger"></span>
                        </div>


                        <div class="form-group col-sm">
                            <label asp-for="IdManequim" class="control-label"></label>
                            <select asp-items="@Model.ListaManequim" asp-for="IdManequim" class="form-select"></select>
                            <span asp-validation-for="IdManequim" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <br />
                <br />

                <div class="container">
                    <div class="row">
                        <h2 class="fs-5">Endereço</h2>
                        <hr />
                        <br />
                        <div class="form-group col-3">
                            <label asp-for="Cep" class="control-label">CEP</label>
                            <input asp-for="Cep" id="campoCep" class="form-control" />
                            <span asp-validation-for="Cep" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm">
                            <label asp-for="Rua" class="control-label"></label>
                            <input asp-for="Rua" class="form-control" />
                            <span asp-validation-for="Rua" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="form-group col-5">
                            <label asp-for="Bairro" class="control-label"></label>
                            <input asp-for="Bairro" class="form-control" />
                            <span asp-validation-for="Bairro" class="text-danger"></span>
                        </div>
                        <div class="form-group col-5">
                            <label asp-for="Cidade" class="control-label"></label>
                            <input asp-for="Cidade" class="form-control" />
                            <span asp-validation-for="Cidade" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm">
                            <label asp-for="Estado" class="control-label"></label>
                            <input asp-for="Estado" class="form-control" />
                            <span asp-validation-for="Estado" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="container">
                    <div class="row">
                        <div class="col-5"></div>
                        <a class="btn btn-light text-secondary border border-secondary d-grid gap-2 col-3 mx-auto" asp-action="Index"> Voltar </a>
                        <input type="submit" value="Salvar" class="btn btn-secondary d-grid gap-2 col-3 mx-auto" />
                    </div>
                </div>
            </form>
        </div>
    </div>


    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }

    }
