html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn {
    box-shadow: none !important;
}

.input-validation-error {
    border-bottom: 2px solid var(--bs-danger) !important;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("../icon/invalid_icon.svg");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: 16px;
}

.form-control {
    color: var(--bs-dark);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid var(--bs-dark);
    border-radius: 0;
}

.form-select.input-validation-error {
    padding-right: 4.125rem;
    background-image: url("../icon/invalid_icon.svg"), url("../icon/select_icon.svg");
    background-position: right 0.55rem center, center right 2.25rem;
    background-size: 16px;
}

.form-select {
    color: var(--bs-dark);
    background-color: #fff;
    background-image: url("../icon/select_icon.svg");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid var(--bs-dark);
    border-radius: 0;
}

.control-label{
    font-weight: 500;
}

.form-check-input:checked[type=radio] {
    box-shadow: none !important;
    background-image: url("../icon/radio_icon.svg");
}

.form-check-input:checked[type=checkbox] {
    box-shadow: none !important;
    background-image: url("../icon/checkbox_icon.svg");
}

.form-check-input:checked {
    background-color: var(--bs-success);
    border-color: var(--bs-success);
}