html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn {
    box-shadow: none !important;
}

.valid {
    border-color: #198754;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("../icon/valid_icon.svg");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: 16px;
}

.input-validation-error {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("../icon/invalid_icon.svg");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: 16px;
}

.form-select.valid {
    padding-right: 4.125rem;
    background-image: url("../icon/valid_icon.svg"), url("../icon/select_icon.svg");
    background-position: right 0.55rem center, center right 2.25rem;
    background-size: 16px;
}

.form-select.input-validation-error {
    padding-right: 4.125rem;
    background-image: url("../icon/invalid_icon.svg"), url("../icon/select_icon.svg");
    background-position: right 0.55rem center, center right 2.25rem;
    background-size: 16px;
}

.form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("../icon/select_icon.svg");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}