@model GestaoGrupoMusicalWeb.Models.GrupoMusicalViewModel

@{
    ViewData["Title"] = $"Detalhes do Grupo Musical {Model.Nome}";
    ViewData["Grupo"] = "Grupo Musical";
    ViewData["Details"] = "Detalhes";

}

<div class="col-md-10 col-lg-6">
    <h1 class="p-3 bg-danger  bg-opacity-75 text-white fs-5">@ViewData["Title"]</h1>
    <nav>
        <ol class="breadcrumb px-3">
            <strong>
                <a class="text-danger text-opacity-75" asp-action="Index">@ViewData["Grupo"]</a>
                <span class="text-secondary"><i class="text-dark fa-sharp fa-solid fa-angle-right fa-xs"></i> @ViewData["Details"]</span>
            </strong>
        </ol>
    </nav>
     <div class="container">
                    <div class="row">
                        <h2 class="fs-5">Dados do Grupo</h2>
                        <hr />
                        <br />

                        <div class="form-group">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" value=@Model.Nome class="form-control" disabled />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RazaoSocial" class="control-label"></label>
                             <input asp-for="RazaoSocial" value=@Model.RazaoSocial class="form-control" disabled/>
                            <span asp-validation-for="RazaoSocial" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="form-group col-xl">
                            <label asp-for="Cnpj" class="control-label"></label>
                            <input asp-for="Cnpj" value=@Model.Cnpj id="campoCnpj" class="form-control" disabled/>
                            <span asp-validation-for="Cnpj" class="text-danger"></span>
                        </div>
                        <div class="form-group col-xl">
                            <label asp-for="Telefone1" class="control-label"></label>
                <input asp-for="Telefone1" value=@Model.Telefone1 id="campoTelefone1" class="form-control" disabled />
                            <span asp-validation-for="Telefone1" class="text-danger"></span>
                        </div>
                        <div class="form-group col-xl">
                            <label asp-for="Telefone2" class="control-label"></label>
                <input asp-for="Telefone2" value=@Model.Telefone2 id="campoTelefone2" class="form-control" disable d/>
                            <span asp-validation-for="Telefone2" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="form-group col-xl-4">
                            <label asp-for="Cep" class="control-label"></label>
                <input asp-for="Cep" value=@Model.Cep id="campoCep" class="form-control" disabled />
                            <span asp-validation-for="Cep" id="mensagemCep" class="text-danger"></span>
                        </div>
                        <div class="form-group col-xl">
                            <label asp-for="Rua" class="control-label"></label>
                <input asp-for="Rua" value=@Model.Rua id="campoRua" class="form-control" disable d/>
                            <span asp-validation-for="Rua" class="text-danger"></span>
                        </div>
                        <div class="form-group col-xl">
                            <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" value=@Model.Bairro id="campoBairro" class="form-control" disabled />
                            <span asp-validation-for="Bairro" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="form-group col-xl-5">
                            <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" value=@Model.Cidade id="campoCidade" class="form-control" disabled />
                            <span asp-validation-for="Cidade" class="text-danger"></span>
                        </div>
                        <div class="form-group col-xl-5">
                            <label asp-for="Pais" class="control-label"></label>
                <input asp-for="Pais" value=@Model.Pais class="form-control" disabled />
                            <span asp-validation-for="Pais" class="text-danger"></span>
                        </div>
                        <div class="form-group col-xl">
                            <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" value=@Model.Estado id="campoEstado" class="form-control" disabled />
                            <span asp-validation-for="Estado" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="container">
                    <div class="row">

                        <h2 class="fs-5">Redes Sociais</h2>
                        <hr />
                        <br />
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" value=@Model.Email class="form-control" disabled />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Youtube" class="control-label"></label>
                <input asp-for="Youtube" value=@Model.Youtube class="form-control" disabled />
                            <span asp-validation-for="Youtube" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Instagram" class="control-label"></label>
                <input asp-for="Instagram" value=@Model.Instagram class="form-control" disabled />
                            <span asp-validation-for="Instagram" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Facebook" class="control-label"></label>
                            <input asp-for="Facebook" value=@Model.Facebook class="form-control" disabled/>
                            <span asp-validation-for="Facebook" class="text-danger"></span>
                        </div>

                    </div>
                </div>
                <br />
                <br />
                <div class="container">
                    <div class="row">
                        <h2 class="fs-5">Informações Bancárias</h2>
                        <hr />
                        <br />
                        <div class="form-group col-xl">
                            <label asp-for="Banco" class="control-label"></label>
                            <input asp-for="Banco" value=@Model.Banco class="form-control" disabled/>
                            <span asp-validation-for="Banco" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="form-group col-xl">
                            <label asp-for="NumeroContaBanco" class="control-label"></label>
                            <input asp-for="NumeroContaBanco" value=@Model.NumeroContaBanco class="form-control" disabled/>
                            <span asp-validation-for="NumeroContaBanco" class="text-danger"></span>
                        </div>
                        <div class="form-group col-xl">
                            <label asp-for="Agencia" class="control-label"></label>
                            <input asp-for="Agencia" value=@Model.Agencia class="form-control" disabled/>
                            <span asp-validation-for="Agencia" class="text-danger"></span>
                        </div>
                        <div class="form-group col-xl">
                            <label asp-for="ChavePixtipo" class="control-label"></label>
                            <input asp-for="ChavePixtipo" value=@Model.ChavePixtipo class="form-control" disabled />
                            <span asp-validation-for="ChavePixtipo" class="text-danger"></span>
                        </div>  
                        <div class="form-group ">
                            <label asp-for="ChavePix" class="control-label"></label>
                            <input asp-for="ChavePix" value=@Model.ChavePix class="form-control" disabled/>
                            <span asp-validation-for="ChavePix" class="text-danger"></span>
                        </div>
                    </div>
                </div>

    <div>
        <a class="btn btn-outline-secondary" role="button" asp-controller="GrupoMusical" asp-action="Index">Voltar</a>
        <a class="btn btn-secondary ms-2" role="button" asp-controller="GrupoMusical" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    </div>

</div>
