@model IEnumerable<Core.DTO.EnsaioIndexDTO>
<link href="~/lib/datatable/css/datatables.min.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Ensaios";
}
<partial name="_Notificar">
<div class="d-flex justify-content-between align-items-center">
    <h5>@ViewData["Title"]</h5>
    <a role="button" class="btn btn-secondary m-3" asp-controller="Ensaio" asp-action="Create">Novo Ensaio</a>
</div>
<div class="table-responsive">
        <table id="tableEnsaio" class="table">
        <thead>
            <tr class="bg-danger bg-opacity-75 text-white">
                <th>
                    <span class="text-white">Data hora início</span>
                </th>
                <th>
                    <span class="text-white">Tipo</span>
                </th>
                <th>
                    <span class="text-white">Local</span>
                </th>
                <th>
                    <span class="text-white">Presença Obrigatória</span>
                </th>
                <th>Ações</th>
            </tr>
        </thead>
    </table>
</div>
    <div class="modal fade" id="ensaioModal" tabindex="-1" aria-labelledby="ensaioLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="admLabel">Confirmar Exclusão do Ensaio</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Deseja <b>Excluir</b> o <b>Ensaio</b>?
                </div>
                <form method="post" class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary col-3 me-4" data-bs-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-secondary col-3">Sim</button>
                </form>
            </div>
        </div>
    </div>
    @section Scripts {
        <script src="~/lib/datatable/js/datatables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#tableEnsaio').DataTable({
                    "processing": true, // for show progress bar
                    "serverSide": true, // for process server side
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "pageLength": 5,
                    "lengthMenu": [
                        [5, 10, 20, -1],
                        [5, 10, 20, "Todos"]
                    ],
                    "ajax": {
                        "url": "/Ensaio/GetDataPage",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "columnDefs": [{
                        "targets": [0],
                        "visible": true,
                        "searchable": false
                    },
                    {
                        "targets": [3],
                        "visible": true,
                        "searchable": false,
                        "orderable": false
                    }],
                    "columns": [
                        { "data": "dataHora", "name": "Data Hora Inicio", "autoWidth": true },
                        { "data": "tipo", "name": "Tipo", "autoWidth": true },
                        { "data": "local", "name": "Local", "autoWidth": true },
                        { "data": "presencaObrigatoria", "name": "Presença Obrigatória", "autoWidth": true },
                        {
                            "render": function (data, type, full, meta) {
                                return '<a class="btn btn btn-secondary btn-sm  m-2" href="/Ensaio/Edit/' + full.id + '"><i class="fa-solid fa-pen-to-square"> </i> Editar</a> ' +
                                    '<a onclick="showConfirmationModal(' + full.id + ')" class="btn btn-sm btn-secondary" role="button"><i class="fa-solid fa-xmark"></i> Excluir</a>' +
                                    '<a class="btn btn btn-secondary btn-sm  m-2" href="/Ensaio/Details/' + full.id + '"><i class="fa-solid fa-arrow-right-arrow-left"></i> Detalhes</a> '
                                    ;
                            }
                        },
                    ],
                    language: {
                        url: "lib/datatable/js/pt-br.json",
                    }
                });
            });
        </script>

        <script>
            function showConfirmationModal(formId) {
                var modal = document.getElementById('ensaioModal');
                var modalForm = modal.querySelector('form');
                modalForm.action = '/Ensaio/Delete/' + formId; // Define a ação do formulário com a rota correta
                var modalBody = modal.querySelector('.modal-body');
                modalBody.innerHTML = 'Deseja <b>Excluir</b> o <b>Ensaio</b>?'; // Conteúdo do modal

                // Exibe o modal
                var modal = new bootstrap.Modal(modal);
                modal.show();
            }

        </script>
    }
