@model GestaoGrupoMusicalWeb.Models.EnsaioJustificativaViewModel
@{
    ViewData["Title"] = "Justificar Ausência";
}

<partial name="_Notificar">

<div class="container">
    <h1 class="fs-5 mb-4 p-3 bg-danger  bg-opacity-75 text-white">@ViewData["Title"]</h1>
    <nav>
        <ol class="breadcrumb px-3">
            <div>
                <a class="text-danger text-opacity-75" asp-action="Index">@ViewData["Ensaio"]</a>
                <p class="text-secondary"><i class="text-dark fa-sharp fa-solid fa-angle-right fa-xs"></i> @ViewData["Create"]</p>
                </div>
        </ol>
    </nav>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-action="Index">Ensaios</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>