@model GestaoGrupoMusicalWeb.Models.EnsaioJustificativaViewModel
@{
    ViewData["Title"] = "Justificar Ausência";
}

<partial name="_Notificar">

<h1 class="fs-5 mb-4 p-3 bg-danger  bg-opacity-75 text-white">@ViewData["Title"]</h1>
<nav class="ps-3" style="--bs-breadcrumb-divider: '';"aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="fw-bold text-danger text-opacity-75" asp-action="Index">Ensaios</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <span class="fw-bold">
                <i class="text-dark fa-sharp fa-solid fa-angle-right fa-xs"></i> 
                @ViewData["Title"]
            </span>
        </li>
    </ol>
</nav>
<hr />

<form>
    <input asp-for="IdEnsaio" type="hidden"/>
    <label asp-for="Justificativa"></label>
    <textarea asp-for="Justificativa"></textarea>
    <span asp-validation-for="Justificativa"></span>
</form>