@model GestaoGrupoMusicalWeb.Models.EnsaioJustificativaViewModel
@{
    ViewData["Title"] = "Justificar Ausência";
}

<partial name="_Notificar">

<div class="container">
    <h1 class="fs-5 mb-4">@ViewData["Title"]</h1>
</div>