@model Core.DTO.EnsaioFrequenciaDTO
@{
    ViewData["Title"] = "Registrar Frequência";
}

<partial name="_Notificar">

<h1 class="fs-5">@ViewData["Title"]</h1>

<div class="container mt-4">
        <div class="row">
            <div>
                <label asp-for="Inicio"></label>
                <input asp-for="Inicio" disabled />
            </div>
            <div>
                <label asp-for="Fim"></label>
                <input asp-for="Fim" disabled />
            </div>
            <div>
                <label asp-for="Tipo"></label>
                <input asp-for="Tipo" disabled/>
            </div>
        </div>
        <partial name="_TabelaFrequencia" model="Model.Frequencias" />
</div>
