@model Core.DTO.EnsaioFrequenciaDTO
@{
    ViewData["Title"] = "Registrar Frequência";
}

<partial name="_Notificar">

<div class="container">
    <h1 class="fs-5 mb-4">@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <label class="control-label" asp-for="Inicio"></label>
            <input class="form-control" asp-for="Inicio" disabled />
        </div>
        <div class="col-md-6 col-lg-4">
            <label class="control-label" asp-for="Fim"></label>
            <input class="form-control" asp-for="Fim" disabled />
        </div>
        <div class="col-lg-4">
            <label class="control-label" asp-for="Tipo"></label>
            <input class="form-control" asp-for="Tipo" disabled />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label class="control-label" asp-for="Regentes"></label>
                @{
                    if (Model.Regentes != null)
                    {
                        foreach (var regente in Model.Regentes)
                        {
                            <input class="form-control" value="@regente" disabled />
                        }
                    }
                }
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label class="control-label" asp-for="Local"></label>
            <input class="form-control" asp-for="Local" disabled />
        </div>
    </div>
    <partial name="_TabelaFrequencia" model="Model.Frequencias" />
</div>
