@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-between align-items-center">
    <h5>Próximos Evento</h5>
    <a role="button" class="btn btn-primary" asp-controller="Evento" asp-action="Create">Novo Evento</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
                Local
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Evento)
        {
            <tr>
                <td>
                    @item.DataHoraInicio
                </td>
                <td>
                    @item.Local
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-between align-items-center">
    <h5>Próximos Ensaio</h5>
    <a role="button" class="btn btn-primary" asp-controller="Ensaio" asp-action="Create">Novo Ensaio</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
                Local
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ensaio)
        {
            <tr>
                <td>
                    @item.DataHoraInicio
                </td>
                <td>
                    @item.Local
                </td>
            </tr>
        }
    </tbody>
</table>

