@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-between align-items-center">
    <h5>Próximos Evento</h5>
    <a role="button" class="btn btn-secondary m-3" asp-controller="Evento" asp-action="Create">Novo Evento</a>
</div>

<table class="table">
    <thead class="border-bottom border-danger">
        <tr>
            <th class="bg-danger opacity-75 border-0">
                <span class="text-white">Data</span>
            </th>
            <th class="bg-danger opacity-75 border-0">
                <span class="text-white">Local</span>
            </th>
            <th class="bg-danger opacity-75 border-0">
                <span class="text-white">Açoes</span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Evento)
        {
            <tr>
                <td class="border-bottom border-danger opacity-75 p-3">
                    @item.DataHoraInicio
                </td>
                <td class="border-bottom border-danger opacity-75 p-3">
                    @item.Local
                </td>
                <td class="border-bottom border-danger opacity-75 p-3">
                    <a role="button" class="btn btn-secondary btn-sm" asp-controller="" asp-action="">Frequência</a>
                    <a role="button" class="btn btn-secondary btn-sm" asp-controller="" asp-action="">Detalhes</a>
                    <a role="button" class="btn btn-secondary btn-sm" asp-controller="" asp-action="">Editar</a>
                    <a role="button" class="btn btn-secondary btn-sm" asp-controller="" asp-action="">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-between align-items-center">
    <h5>Próximos Ensaio</h5>
    <a role="button" class="btn btn-secondary m-3" asp-controller="Ensaio" asp-action="Create">Novo Ensaio</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="bg-danger opacity-75 border-0">
                <span class="text-white">Data</span>
            </th>
            <th class="bg-danger opacity-75 border-0">
                <span class="text-white">Local</span>
            </th>
            <th class="bg-danger opacity-75 border-0">
                <span class="text-white">Açoes</span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ensaio)
        {
            <tr>
                <td class="border-bottom border-danger opacity-75 p-3">
                    @item.DataHoraInicio
                </td>
                <td class="border-bottom border-danger opacity-75 p-3">
                    @item.Local
                </td>
                <td class="border-bottom border-danger opacity-75 p-3">
                    <a role="button" class="btn btn-secondary btn-sm" asp-controller="" asp-action="">Frequência</a>
                    <a role="button" class="btn btn-secondary btn-sm" asp-controller="" asp-action="">Detalhes</a>
                    <a role="button" class="btn btn-secondary btn-sm" asp-controller="" asp-action="">Editar</a>
                    <a role="button" class="btn btn-secondary btn-sm" asp-controller="" asp-action="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                        </svg>Excluir
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

