@model AdministradorGrupoMusicalViewModel

@{
    ViewData["Title"] = "Adicionar Administradores do Grupo Musical";
}

<h1 class="fs-5">@ViewData["Title"]</h1>

<partial name="_Notificar">

<div>
    <partial name="_Create" model="Model.Administrador" />
</div>

<partial name="_TabelaAdministrador" model="Model.ListaAdministrador" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}