@model GestaoGrupoMusicalWeb.Models.InstrumentoMusicalViewModel

@{
    ViewData["Title"] = "Excluir Instrumento";
    ViewData["Index"] = "Instrumentos Musicais";
}

<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <h1 class="bg-danger bg-opacity-75 p-3 text-white fs-5">Excluir Instrumento</h1>
            <nav>
                <ol class="breadcrumb px-3">
                    <li>
                        <strong>
                            <a class="text-danger text-opacity-75" asp-action="Index">@ViewData["Index"]</a>
                            <span class="text-secondary"><i class="text-dark fa-sharp fa-solid fa-angle-right fa-xs"></i> @ViewData["Title"]</span>
                        </strong>
                    </li>
                </ol>
            </nav>
            
            <h3 class="fs-4">Tem certeza de que deseja excluir este instrumento?</h3>
            <hr />

            <div class="row">
                <div class="form-group col-sm-8">
                    <label asp-for="Patrimonio" class="control-label"></label>
                    <input asp-for="Patrimonio" value=@Model.Patrimonio class="form-control" disabled />
                    <span asp-validation-for="Patrimonio" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-5">
                    <label asp-for="DataAquisicao" class="control-label"></label>
                    <input asp-for="DataAquisicao" value=@Model.DataAquisicao class="form-control" disabled />
                    <span asp-validation-for="DataAquisicao" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-7">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" value=@Model.Status class="form-control" disabled />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group col-xl-6">
                    <label asp-for="IdTipoInstrumento" class="control-label"></label>
                    <input asp-for="IdTipoInstrumento" value=@Model.IdTipoInstrumento class="form-control" disabled />
                    <span asp-validation-for="IdTipoInstrumento" class="text-danger"></span>
                </div>
            </div>

            <form asp-action="Delete" class="row d-flex flex-wrap-reverse justify-content-end">
                <a asp-action="Index" class="col-3 m-2 btn btn-outline-secondary order-1">Voltar</a>
                <input type="submit" value="Excluir" class=" col-3 btn btn-secondary m-2 order-2" />
            </form>
        </div>
    </div>
</div>