@model Core.DTO.InstrumentoAssociadoDTO.MovimentacoesAssociado
@{
    Layout = "_LayoutAssociado";
    ViewData["Title"] = "Movimentação de Instrumentos";
}

<partial name="_Notificar" />

<h1 class="fs-5">Empréstimos</h1>

<partial name="_TabelaMovAssociado" model="Model.Emprestimos" />

<h1 class="fs-5">Devoluções</h1>

<partial name="_TabelaMovAssociado" model="Model.Devolucoes" />