@model GestaoGrupoMusicalWeb.Models.IdentityViewModel.AutenticarViewModel
@{
    ViewData["Title"] = "Autenticar";
}

<form asp-controller="Identity" asp-action="Autenticar">
    <div class="d-flex justify-content-center">
        <img src="~/assets/logo_batalase_SF.png" alt="Logo do batalá - SE" class="img-fluid">
    </div>

    <div class="form-group">
        <label asp-for="Cpf" class="control-label"></label>
        <input asp-for="Cpf" id="campoCpf" class="form-control" />
        <span asp-validation-for="Cpf" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Senha" class="control-label"></label>
        <input asp-for="Senha" class="form-control" />
        <span asp-validation-for="Senha" class="text-danger"></span>
    </div>

    <button class="w-100 btn btn-lg btn-secondary mt-4" type="submit">Entrar</button>
    <a class="w-100 btn btn-lg btn-outline-secondary mt-2" role="button" asp-controller="Identity" asp-action="Cadastrar">Criar uma nova conta</a>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#campoCpf").inputmask("999.999.999-99"); 
        });

    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
