@model GestaoGrupoMusicalWeb.Models.IdentityViewModel.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Esqueci a senha";
}
<div class="card position-absolute top-50 start-50 translate-middle pe-0 col-3 col-sm-8 col-lg-6 col-xxl-3
                    shadow border-danger border-opacity-75 gray-login">

    <div class="d-flex flex-column p-4">

        <h1 class="border-bottom border-dark pb-2 mb-4">
            Recuperação de senha
        </h1> 

        <partial name="_Notificar">

        <p class="fs-5 mb-3 text-justify">
            Para recuperar a sua senha, informe seu endereço de email cadastrado. Logo enviaremos um link para seu email para a alteração da senha.
        </p>

        <form asp-controller="Identity" asp-action="ForgotPassword" class="">

            <div class="form-group d-flex flex-column mb-2">
                <div class="d-flex justify-content-between">
                    <label asp-for="Email" class="control-label fs-5"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="input-group align-items-center overflow-hidden bg-white">

                    <div class="input-group-icon p-2">
                        <i class="fa-regular fa-envelope fs-5" style="color: #6c757d;"></i>

                    </div>

                    <input asp-for="Email" id="campoCpf" class="form-control fs-5 ps-1 border-0"/>

                </div>
            </div>


            <button class="w-100 btn btn-lg btn-secondary my-2" type="submit">Recuperar</button>
        </form>

            <div class="d-flex justify-content-center my-2 fs-5">
                <a asp-controller="Identity" asp-action="Autenticar">Voltar ao Login</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
