@model GestaoGrupoMusicalWeb.Models.IdentityViewModel.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Esqueci a senha";
}
<div class="card position-absolute top-50 start-50 translate-middle pe-0 col-3 col-lg-6 col-xxl-3
                    shadow border-danger border-opacity-75 gray-login">
    <div class="d-flex flex-column p-4">
        <h1 class="border-bottom border-dark pb-2">Recuperação de senha</h1> 

        <form asp-controller="Identity" asp-action="ForgotPassword" class="">

            <div class="form-group d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <label asp-for="Email" class="control-label fs-5"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="input-group align-items-center overflow-hidden bg-white border-bottom border-dark">

                    <div class="input-group-icon p-2">
                        <i class="fa-regular fa-user" style="color: #6c757d;"></i>
                    </div>

                    <input asp-for="Email" id="campoCpf" class="form-control fs-5 ps-1 border-0" />

                </div>
            </div>


            <button class="w-100 btn btn-lg btn-secondary my-2" type="submit">Recuperar</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
