@model GestaoGrupoMusicalWeb.Models.IdentityViewModel.ResetPasswordViewModel

@{
    ViewData["Title"] = "Redefinir Senha";
}

<div class="card position-absolute top-50 start-50 translate-middle pe-0 col-3 col-sm-8 col-lg-6 col-xxl-3
                    shadow border-danger border-opacity-75 gray-login">
    <div class="d-flex flex-column justify-content-center m-4">
        <partial name="_Notificar">

        <div class="d-flex justify-content-center my-2 fs-5">
            <a asp-controller="Identity" asp-action="Autenticar" class="btn btn-secondary">Fazer Login</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
