@model GestaoGrupoMusicalWeb.Models.IdentityViewModel.ResetPasswordViewModel

@{
    ViewData["Title"] = "Redefinir Senha";
}

<div class="card position-absolute top-50 start-50 translate-middle pe-0 col-3 col-sm-8 col-lg-6 col-xxl-3
                    shadow border-danger border-opacity-75 gray-login">

    <div class="d-flex flex-column p-4">

        <h1 class="border-bottom border-dark pb-2 mb-4">
            Redefinir Senha
        </h1>

        <partial name="_Notificar">

        <p class="fs-5 mb-3 text-justify">
            Insira a nova senha
        </p>

        <form asp-controller="Identity" asp-action="ResetPassword">

            <input type="hidden" name="Code" value="@Model.Code" />
            <input type = "hidden" name = "UserId" value = "@Model.UserId" />
            
            <div class="form-group d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <label asp-for="Password" class="control-label fs-5"></label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="input-group align-items-center overflow-hidden bg-light border-bottom border-dark float-end">

                    <input asp-for="Password" type="password" id="InputSenha" class="form-control fs-5  ps-1 border-0" />

                    <i class="fas fa-eye mx-2 pointer-cursor data-bs-toggle=" tooltip" title="Mostrar senha" id="toggleSenha"></i>

                </div>
            </div>

            <div class="form-group d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <label asp-for="ConfirmePassword" class="control-label fs-5"></label>
                    <span asp-validation-for="ConfirmePassword" class="text-danger"></span>
                </div>

                <div class="input-group align-items-center overflow-hidden bg-light border-bottom border-dark float-end">

                    <input asp-for="ConfirmePassword" type="password" id="InputConfirmarSenha" class="form-control fs-5  ps-1 border-0" />

                    <i class="fas fa-eye mx-2 pointer-cursor data-bs-toggle=" tooltip" title="Mostrar senha" id="toggleSenha2"></i>

                </div>
            </div>

            <button class="w-100 btn btn-lg btn-secondary my-2" type="submit">Redefinir Senha</button>
        </form>

        <div class="d-flex justify-content-center my-2 fs-5">
            <a asp-controller="Identity" asp-action="Autenticar">Fazer Login</a>
        </div>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
