@model Core.DTO.MovimentacaoAssociadoFigurinoDTO.MovimentacoesAssociadoFigurino

@{
    Layout = "_LayoutAssociado";
    ViewData["Title"] = "Movimentação de Figurinos";
}
<partial name="_Notificar" />

<h1 class="fs-5 my-3">@Html.DisplayNameFor(m => m.Entregue)</h1>

<partial name="_TabelaFigurinoEntregue" model="Model.Entregue" />

<h1 class="fs-5 my-3">@Html.DisplayNameFor(m => m.Devolucoes)</h1>

<partial name="_TabelaDevolucaoFigurino" model="Model.Devolucoes" />
@{}